.container-favorite {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 400px) {
  .container-favorite {
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }

  h1 {
    font-size: 15px;
    margin-top: 15px;
  }

  .card-favorite {
    width: 25%;
  }
}

.card-favorite {
  width: 40%;
  border: 1px solid #4c4c4c;
  width: 275px;
  height: 275px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #4c4c4c;
  color: antiquewhite;
  font-size: 18px;
  
}

.card-favorite:hover {
  transform: scale(1, 1);
  transition: all;
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  transform: translate(0, 2px);
}

.content-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}

.content-preco {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.content-image {
  border: 1px solid #4c4c4c;
  border-radius: 8px;
  height: 160px;
  display: flex;
  justify-content: center;
  
}
.image {
 width: 100%;
 justify-content: center;
 align-items: center;
 text-align: center;
 border-radius: 8px;
}

.title-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

h1 {
  text-align: center;
}
